# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                        @Cloud-Officer/Maintainers

# build/deploy related files

.eslintrc.json           @Cloud-Officer/maintainers
.github/                 @Cloud-Officer/maintainers
.gitignore               @Cloud-Officer/maintainers
.markdownlint-cli2.yaml  @Cloud-Officer/maintainers
.ruby-version            @Cloud-Officer/maintainers
.shellcheckrc            @Cloud-Officer/maintainers
.yamllint.yml            @Cloud-Officer/maintainers
codedeploy/              @Cloud-Officer/maintainers
*.sh                     @Cloud-Officer/maintainers
