---
name: 'DockerHub'
description: 'Publish Docker image'

inputs:
  github-token:
    description: 'github token'
    required: false
    default: ${{ github.token }}
  username:
    description: 'Username used to log against the Docker registry'
    required: true
  password:
    description: 'Password or personal access token used to log against the Docker registry'
    required: true

runs:
  using: "composite"
  steps:
    # https://github.com/marketplace/actions/checkout
    - name: Checkout
      uses: actions/checkout@v6
      with:
        token: ${{ inputs.github-token }}
        persist-credentials: true
        lfs: true
        submodules: recursive

    - name: Get Repository Name
      shell: bash
      env:
        GITHUB_TOKEN: ${{ inputs.github-token }}
      run: echo "REPO_NAME=${GITHUB_REPOSITORY##*/}" >> "${GITHUB_ENV}"

    # https://github.com/marketplace/actions/docker-login
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ inputs.username }}
        password: ${{ inputs.password }}

    # https://github.com/marketplace/actions/docker-setup-buildx
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        install: true
        driver-opts: image=moby/buildkit:latest,network=host

    # https://github.com/marketplace/actions/docker-metadata-action
    - name: Extract Metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ inputs.username }}/${{ env.REPO_NAME }}

    # https://github.com/marketplace/actions/build-and-push-docker-images
    - name: Build and Push Docker Images
      id: push
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}

    # https://github.com/marketplace/actions/attest-build-provenance
    - name: Generate Artifact Attestation
      uses: actions/attest-build-provenance@v3
      with:
        subject-name: docker.io/${{ inputs.username }}/${{ env.REPO_NAME }}
        subject-digest: ${{ steps.push.outputs.digest }}
        push-to-registry: false
