---
name: 'Deploy'
description: 'Deploy to code deploy target group'

inputs:
  github-token:
    description: 'github token'
    required: false
    default: ${{ github.token }}
  aws-access-key-id:
    description: 'aws access key id'
    required: true
  aws-secret-access-key:
    description: 'aws secret access key'
    required: true
  aws-region:
    description: 'aws region'
    required: true
  application-name:
    description: 'aws deploy application name'
    required: true
  deployment-group-name:
    description: 'aws deploy deployment group name'
    required: true
  s3-bucket:
    description: 'aws deploy s3 bucket'
    required: true
  s3-key:
    description: 'aws deploy s3 key'
    required: true
runs:
  using: 'composite'
  steps:
    # https://github.com/marketplace/actions/configure-aws-credentials-action-for-github-actions
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        aws-access-key-id: ${{ inputs.aws-access-key-id }}
        aws-secret-access-key: ${{ inputs.aws-secret-access-key }}
        aws-region: ${{ inputs.aws-region }}

    - name: Deploy to CodeDeploy
      shell: bash
      env:
        GITHUB_TOKEN: ${{ inputs.github-token }}
        APPLICATION_NAME: ${{ inputs.application-name }}
        DEPLOYMENT_GROUP_NAME: ${{ inputs.deployment-group-name }}
        S3_BUCKET: ${{ inputs.s3-bucket }}
        S3_KEY: ${{ inputs.s3-key }}
      run: |
        deployment=$(aws deploy create-deployment --application-name "${APPLICATION_NAME}" --deployment-config-name CodeDeployDefault.OneAtATime --deployment-group-name "${DEPLOYMENT_GROUP_NAME}" --description "Deploy build ${GITHUB_RUN_NUMBER} via Github Actions" --s3-location "bucket=${S3_BUCKET},bundleType=zip,key=${S3_KEY}" --query 'deploymentId' --output text)
        echo "Deployment ID=${deployment}"
        counter=1

        while [ ${counter} -lt 120 ]; do
          status=$(aws deploy get-deployment --deployment-id "${deployment}" --query 'deploymentInfo.status' --output text)

          case ${status} in
            Succeeded)
            echo "Deployment succeeded"
            exit 0
            ;;

            Failed)
            echo "Deployment failed"
            exit 1
            ;;

            Stopped)
            echo "Deployment stopped"
            exit 1
            ;;

            Ready)
            echo "Deployment ready"
            exit 0
            ;;

            *)
            ((counter++))
            echo "Deployment status=${status}..."
            sleep 5
            ;;
          esac
        done

        echo "Aborting deployment monitoring as > 5 mins!"
